@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa/Regular.otf');
}

header {
    width: 100%;
    padding-top: 62px;
    position: absolute;
}

.btn {
    text-transform: uppercase;
    border-radius: 50px;
    padding: 20px 40px;
    border: none;
}

.header-btn {
    color: #6426dd;
    font-weight: 500px;
}

.nav-link {
    color: white;
    font-size: 19px;
}

.nav-link:hover {
    color: grey;
}

.creative-agency {
    width: 100%;
    min-height: 100vh;
    background: url('../image/bg-first.png');
    background-repeat: no-repeat;
    padding-top: 180px;
}

.creative-title {
    font-family: 'Nexa';
    font-size: 88px;
    font-weight: 900;
    color: white;
}

.creative-subtitle {
    font-family: 'Nexa';
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.creative-learn-more {
    position: relative;
    z-index: 10;
    background: #00dadc;
}

.learn-more {
    background: #00dadc;
}

.about-us {
    margin-top: 120px;
}

.about-title {
    font-family: 'Nexa';
    color: #6422db;
    font-size: 30px;
    text-transform: uppercase;
}

.about-subtitle {
    font-family: 'Nexa';
    color: #25234d;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    margin: 20px 0;
}

.about-sub-subtitle {
    font-family: 'Nexa';
    color: #64637a;
    font-size: 20px;
}

.about-learn-more {
    color: black;
    background: #ffc727;
}

.our-services {
    margin-top: 120px;
}

.services-title {
    font-family: 'Nexa';
    color: #6422db;
    font-size: 30px;
    text-transform: uppercase;
}

.services-subtitle {
    font-family: 'Nexa';
    color: #25234d;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    margin: 20px 0;
}

.services-sub-subtitle {
    font-family: 'Nexa';
    color: #64637a;
    font-size: 20px;
}

.about-service {
    height: 800px;
} 

.items {
    height: 350px;
}

.serv-item-title {
    font-family: 'Nexa';
    font-size: 24px;
    color: #25234d;
    margin: 20px 0;
}

.serv-item-subtitle {
    font-family: 'Nexa';
    font-size: 18px;
    color: #25234d;
}

.testimonials {
    width: 100%;
    min-height: 118vh;
    background: url('../image/bg-middle-purple.png');
    background-repeat: no-repeat;
    margin-top: 150px;
}

.map {
    min-height: 100vh;
    background: url('../image/middle-map-bg.png');
    background-repeat: no-repeat;
}

.testimonials-title {
    font-family: 'Nexa';
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
}

.testimonials-subtitle {
    font-family: 'Nexa';
    color: white;
    font-size: 70px;
    font-weight: 700;
} 

.slider {
    height: 430px;
    border-radius: 15px;
    background: #fff;
}

.content {
    font-size: 20px;
    font-family: 'Nexa';
    color: #6a697f;
    padding: 80px 0 30px 0;
}

.customer-name {
    color: #6422db;
    font-family: 'Nexa';
    font-size: 24px;
    font-weight: 600;
}

.route {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #6a697f;
    margin: 50px 12px;
    padding-top: 10px;
    cursor: pointer;
}

.hover-arrow {
    display: none;
}

.route:last-child > .slider-arrow {
    transform: rotate(180deg);
}

.route:hover {
    border: 1px solid #00dadc;
    background: #00dadc;
}

.route:hover > img{
    display: none;
}   

.route:hover > .hover-arrow {
    display: block;
    margin-top: 8px;
    margin-left: 2px;
}

.route:first-child:hover {
    transform: rotate(180deg);
}

.next-slides {
    height: 30px;
    background: #895ee9;
    border-radius: 0 0  10px 10px;
}

.next-slides:last-child {
    opacity: 0.5;
}

.avatars {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 100px;
    margin-top: 50px;
}

.form {
    width: 100%;
    margin-top: 140px;
}

.form-title {
    font-family: 'Nexa';
    color: #6422db;
    font-size: 30px;
    text-transform: uppercase;
}

.form-subtitle {
    font-family: 'Nexa';
    color: #25234d;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    margin: 20px 0;
}

.form-sub-subtitle {
    font-family: 'Nexa';
    color: #64637a;
    font-size: 20px;
}

fieldset {
    border: 1px solid #bfbfbf;
    padding-top: 5px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    border-radius: 4px;
}

legend {
    color: #bfbfbf;
    float: none;
    width: inherit;
    margin: 0 10px;
}

input[type="text"]::placeholder {
    color: #6422db;
    text-transform: uppercase;
    font-size: 20px;
}

input[type="text"] {
    border: none;
    padding: 34px;
}

input[type="email"]::placeholder {
    color: #bfbfbf;
}

input {
    padding: 34px 42px;
    border: 1px solid #bfbfbf;
    outline: none;
    color: #6422db;
    font-display: 20px;
    font-weight: 600;
    border-radius: 4px;
}

textarea {
    resize: none;
    border: 1px solid #bfbfbf;
    padding: 34px 42px;    
    color: #6422db;
    font-display: 20px;
    font-weight: 600;
    outline: none;
    border-radius: 4px;
}

textarea::placeholder {
    color: #bfbfbf;
    font-weight: 600;
}

.submit {
    background: #ffc727;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

footer {
    background: url('/image/bg-bottom.png');
    padding-top: 100px;
    margin-top: 200px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6f7ffd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle:hover {
    background: #00dadc;
}

.author {
    color: white;
    font-family: 'Nexa';
    margin-top: 90px;
}

.dotes-block {
    position: absolute;
}

.responsive {
    position: relative;
    z-index: 10;
}

.backplate-creative {
    position: relative;
    background: url('../image/creative-dotes-2.png');
    background-repeat: no-repeat;
    background-position-x: 75px;
    background-position-y: 10px;
}

.backplate-dote {
    left: 80px;
    z-index: 1;
}

.yellow-circle {
    position: absolute;
    top: 50px;
    left: 280px;
}

.blue-transparent-circle {
    position: absolute;
    z-index: 11;
    top: 350px;
    left: 70px;
}

.planets {
    width: 299px;  
    height: 200px;
    position: absolute;
    top: 650px;
    left: 800px;
}

.orbites {
    position: relative;
}

.orbite {
    border-radius: 50%;
    border: 1px solid #6b35e2;
    position: absolute;
}

.orbite:nth-child(1) {
    width: 200px;
    height: 200px;
    border-style: dashed;
}

.orbite:nth-child(2) {
    width: 170px;
    height: 170px;
    top: 15px;
    left: 15px;
}

.orbite:nth-child(3) {
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-style: dashed;
}

.orbite:nth-child(4) {
    width: 110px;
    height: 110px;
    top: 45px;
    left: 45px;
}

.transparent-circles {
    top: 560px;
    position: absolute;
}

.transparent-circles-relative {
    position: relative;
}

.purple-trans {
    position: absolute;
}

.purple-trans:nth-child(1) {
    z-index: 0;
}

.purple-trans:nth-child(2) {
    /* left: 100px; */
    z-index: 2;
}

.purple-transparent-small {
    width: 500px;
    height: 500px;
    position: absolute;
    border: 100px solid #7840e0;
    border-bottom: 100px solid #fff;
    border-left: 100px solid #fff;
    border-radius: 50%;
    top: 119px;
    left: -260px;
    transform: rotate(315deg);
}

.yellow-disc {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 70px solid #ffc727;
    border-radius: 50%;
    top: 0;
    left: 370px;
    z-index: 11;
}

.yellow-disc-testimonials {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 70px solid #ffc727;
    border-radius: 50%;
    top: -70px;
    left: -80px;
    z-index: 11;
}

.blue-disc {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 70px solid #00dadc;
    border-radius: 50%;
    top: -200px;
    right: -140px;
    z-index: 1;
}
